{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#    <div class="container-fluid">#}
{#        <a class="navbar-brand" href="/index">Back to main page</a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"#}
{#                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ url_for('user', name = 'Khoa') }}">Profile</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ url_for('name') }}">Name</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ url_for('add_user') }}">Add User</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ url_for('add_post') }}">Add Blog</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ url_for('posts') }}">View Blog</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>#}
{#                </li>#}
{#            </ul>#}
{#            <form method="POST" action="{{ url_for('search') }}" class="d-flex">#}
{#                {{ form.hidden_tag() }}#}
{#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" ,#}
{#                       name="searched">#}
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{##}
{##}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="copyright" content="MACode ID, https://macodeid.com">

    <title>DigiGram</title>

    {#    <link rel="stylesheet" href="../assets/vendor/animate/animate.css">#}
    {##}
    {#    <link rel="stylesheet" href="../assets/css/bootstrap.css">#}
    {##}
    {#    <link rel="stylesheet" href="../assets/css/maicons.css">#}
    {##}
    {#    <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.carousel.css">#}
    {##}
    {#    <link rel="stylesheet" href="../assets/css/theme.css">#}

    <link rel="stylesheet" href="../static/assets/vendor/animate/animate.css">

    <link rel="stylesheet" href="../static/assets/css/bootstrap.css">

    <link rel="stylesheet" href="../static/assets/css/maicons.css">

    <link rel="stylesheet" href="../static/assets/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="../static/assets/css/theme.css">

</head>
<body>

<!-- Back to top button -->
<div class="back-to-top"></div>

<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-float">
        <div class="container">
            <a href="/index" class="navbar-brand">Digi<span class="text-primary">Gram.</span></a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarContent">
                <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_post_2') }}">Add Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('posts3') }}">View Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/runmodel2" class="nav-link">Visual</a>
                    </li>
                    <li class="nav-item">
                        <a href="/index" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
            <form method="POST" action="{{ url_for('search2') }}" class="d-flex">
                {{ form.hidden_tag() }}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" ,
                       name="searched">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<script src="../static/assets/js/jquery-3.5.1.min.js"></script>

<script src="../static/assets/js/bootstrap.bundle.min.js"></script>

<script src="../static/assets/vendor/wow/wow.min.js"></script>

<script src="../static/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>

<script src="../static/assets/vendor/animateNumber/jquery.animateNumber.min.js"></script>

<script src="../static/assets/js/google-maps.js"></script>

<script src="../static/assets/js/theme.js"></script>


</body>
</html>
