{% extends 'base.html' %}


{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

    <h1>Blog post...</h1>
    <br/>
    <div style="border: 1px solid black; border-radius: 10px;" class="shadow p-3 mb-5 bg-body rounded">
        <h2>{{ post.title }}</h2>
        By: {{ post.author }} <br/>
        {{ post.slug }} | {{ post.date_posted }} <br/>
        {{ post.content|safe }} <br/> <br/>
    </div>
    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary">Edit</a>
    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger">Delete</a>
    <a href="{{ url_for('posts') }}" class="btn btn-outline-secondary">Back to blog</a>
    <br/>

{% endblock %}