{% extends 'base.html' %}


{% block content %}
    <br/> <br/> <br/>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

    {% if name %}
    <h1>User Update </h1>
        <br/><br/><br/>
    {% for our_user in our_users %}
    {{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} <br/>
        {% endfor %}
    {% else %}
    <h1>User List: </h1>
    <br/>
    <form method="POST" action="/update/{{ name_to_update.id }}">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=name_to_update.name) }}
        <br/>

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=name_to_update.username) }}
        <br/>

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=name_to_update.email) }}
        <br/>


        {{ form.submit(class="btn btn-primary") }}
        <a class="btn btn-primary" href="/user/add">Back</a>
    </form>
        <br/><br/><br/>


    {% endif %}

{% endblock %}